<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Weather</display-name>
    <servlet-name>Weather</servlet-name>
    <servlet-class>pkg03_ajax.Weather</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Weather</servlet-name>
    <url-pattern>/weather</url-pattern>
  </servlet-mapping>
  <display-name>01_servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MyRequest</servlet-name>
    <servlet-class>pkg01_request.MyRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyResponse</servlet-name>
    <servlet-class>pkg02_response.MyResponse</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Accident</display-name>
    <servlet-name>Accident</servlet-name>
    <servlet-class>pkg03_ajax.Accident</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accident</servlet-name>
    <url-pattern>/Accident</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>pkg04_file.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
</web-app>